<body class="courses-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <h1 class="sitename">Abraytech</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="{% url 'course' %}">Tech skills</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Academics</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#departments">Departments</a></li>
                            <li><a href="#curriculum">Curriculum</a></li>
                            <li><a href="#teachers">Teachers</a></li>
                            <li><a href="#students">Students</a></li>
                        </ul>
                    </li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted d-none d-md-inline-block" href="{% url 'register' %}">Get Started</a>
        </div>
    </header>
    {%block content%}

    {% endblock %}